.container {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .container > .mycard {
    flex-basis: calc(100% / 4);
  }
  
  .mycard {
    padding: 10px;
  }
  .example-header-image {
    //background-image: url("../../assets/shiba2.jpg");
    background-size: cover;
  }
  
  @supports (display: grid) {
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  
    .container > .mycard {
      flex: 1;
    }
  }
  
}